---
// Define the Props interface
interface Props {
  slug: string;
}

// Destructure the fileName prop from Astro.props
const isDev = import.meta.env.DEV;
const { slug } = Astro.props as Props;
const src = isDev ? `/src/examples/${slug}/index.ts` : `index.js`;
---

<!-- Astro component template -->
<html>
  <div id="dynamic-script-container"></div>
  <script type="module" is:inline src={src}></script>
</html>
