---

---

<canvas id="three-canvas"></canvas>
<span id="credits">
  "low poly space ship" (https://skfb.ly/H9qJ) by chrisonciuconcepts is licensed
  under Creative Commons Attribution
  (http://creativecommons.org/licenses/by/4.0/).
</span>

<style>
  #three-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

</style>

<script src="./intro.ts"></script>
